@import "./variables.scss";
@import "./button.scss";

@font-face {
  font-family: "AtkinsonHyperlegible";
  unicode-range: U+000-5FF;
  src: local("AtkinsonHyperlegible"),
    url("./assets/fonts/AtkinsonHyperlegible-Bold.ttf") format("truetype")
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar { display: none } // hide scrollbar

body {
  font-family: "AtkinsonHyperlegible";
  font-size: 18px;
  color: $white;
  background-color: $white;
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
#setting+.v-modal {
  background-color: $black;
  opacity: 1;
}

h1 {
  font-size: 48px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 20px;
}
.four-game-number {
  font-size: 44px;
}
.six-game-number {
  font-size: 56px;
}

.el-dialog__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  height: 95vh;
  overflow: hidden;
  .el-dialog {
    background-color: $white;
    border-radius: 10px;
  }
  .el-dialog__body {
    background-color: transparent;
  }
}


// all transition and animation

// setting-bounce
.setting-bounce-enter-active {
  -webkit-animation: setting-bounce-enter 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: setting-bounce-enter 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.setting-bounce-leave-active {
  transition: transform 0.5s ease;
  background-color: $black;
}
.setting-bounce-leave-to {
  transform: translateY(-100%);
}
@keyframes setting-bounce-enter {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
            opacity: 1;
  }
  40%,
  75%,
  100% {
    opacity: 1;
    transform: translateY(0);
  }
  60% {
    transform: translateY(-20px);
  }
  85% {
    transform: translateY(-12px);
  }
}
