@import "./variables.scss";
@import "./button.scss";

@font-face {
  font-family: "AtkinsonHyperlegible";
  unicode-range: U+000-5FF;
  src: local("AtkinsonHyperlegible"),
    url("./assets/fonts/AtkinsonHyperlegible-Bold.ttf") format("truetype")
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar { display: none } // hide scrollbar

body {
  font-family: "AtkinsonHyperlegible";
  font-size: 18px;
  color: $white;
  background-color: $white;
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 48px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 20px;
}
.four-game-number {
  font-size: 44px;
}
.six-game-number {
  font-size: 56px;
}

